body {
  background: violet;
}

.header-content {
  text-align: center;
}

.btn {
  background: transparent;
  border: 2px solid yellow;
  background-color: navy;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.cats {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.random_cats {
  width: 40%;
}

img {
  max-width: 700px;
  height: 30rem;
}
